@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* --------------- Genreal */
/* General */
body {
    font-family: "Oswald", sans-serif;
    background-color: #0F1110;
}

.invis {
    display: none;
}

.position-rel {
    position: relative;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.horizontal-ul {
    width: 33%;
    width: fit-content;
    float: left;
}

/* Scroll bar */
body::-webkit-scrollbar {
    width:10px
}

body::-webkit-scrollbar-track {
    background: #a7a7a7;
}

body::-webkit-scrollbar-thumb {
    background: #6e6e6e;
}

body::-webkit-scrollbar-thumb:hover {
    background: #333;
}
/* Anchors */
a:focus,
a:visited,
a:active,
a:link {
    color: #faf9f6;
    text-decoration: none;
}
/* Header text */
.header-text {
    font-family: "Roboto Slab", sans-serif;
    text-transform: uppercase;
    text-shadow:  -2px -2px 2px #faedc65b,
                    1px 1px 0px #9c7d21,
                    2px 2px 1px rgba(0, 0, 0, .75),
                    3px 3px rgba(0, 0, 0, 0.452);
}

h1 {
    font-family: "Roboto Slab", sans-serif;
}

/* ---------------------------------------------------------------------- */
/* Hero image, header text, and buttons */
/* To top arrow */
.return-top {
    position: fixed;
    z-index: 3;
    margin: .75rem;
    background-color: #fff;
    border-radius: 50%;
    height: 2.49rem
}

.return-top i {
    color: #333;
    font-size: 2.5rem;
}
/* Hero header text and buttons */
.hero-header {
    height: 100vh;
}

.hero-header h1,
.hero-header p {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    color:#faf9f6;
    text-shadow: -2px 0px 0px #333,
                2px 0px 0px #333,
                0px 2px 0px #333,
                0px -2px 0px #333,
                2px 2px 3px rgba(0, 0, 0, .75),
                3px 3px rgba(0, 0, 0, 0.452);
}

.hero-header h1 {
    font-size: 4rem;
}

.hero-header-buttons {
    margin: 0 .75rem;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

.hero-header p {
    font-size: 2.5rem;
}

.custom-button {
    letter-spacing: 1px;
    padding: .5em .75em;
    border-radius: 20px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
    margin: 0 .5rem;
    width: fit-content;
    transition-duration: .5s;
    border: 2px solid #ABEDED;
    background: linear-gradient(45deg, #328787, #ABEDED 10%, #328787 40%);
    text-shadow: 1px 1px #333,
                2px 2px 2px #010203;
}

.custom-button:hover {
    border: 2px solid #7DADAD;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .5),
                inset 0px 4px 2px rgba(0, 0, 0, .65),
                inset 4px 0px 2px rgba(0, 0, 0, .65),
                inset 0px -4px 2px rgba(0, 0, 0, .65),
                inset -4px 0px 2px rgba(0, 0, 0, .65);
}

.custom-button a {
    text-shadow: 2px 2px 2px #010203,
                -1px -1px 2px #010203;
}
/* parallax background (hero image) */
/* Short hand doesn't work in safari */
.parallax-background {
    position: relative;
    background-color: #333;
    background-image: url("../images/dusk-mountains.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.filter,
.project-button-filter {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}
/* ---------------------------------------------------------------------- */
/* Skills */
.skills li {
    width: fit-content;
}

.skills-small {
    display: none;
}

/* ---------------------------------------------------------------------- */
/* Summary */
.summary-text {
    letter-spacing: 1px;
    font-size: 1.5rem;
}

/* ---------------------------------------------------------------------- */
/* projects */
/* general */
.project-button-container {
    position: relative;
}

.project-name {
    text-shadow: 2px 2px 2px #a7a7a7;
}

/* project selection buttons with effect */
.project-link-button,
.project-button,
.project-button-depressed {
    position: relative;
    z-index: 1;
    cursor: pointer;
    letter-spacing: 1px;
    padding: .75em 1em;
    border-radius: 25px;
    margin: 0 .3rem;
    width: fit-content;
    color: #faf9f6;
    transition-duration: .5s;
    background: linear-gradient(45deg, #59B9C9, #2A717D);
    text-shadow: 1px 1px #333,
                2px 2px 2px #010203;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .5),
                inset 1px 1px 2px rgba(0, 0, 0, .0),
                inset -1px -1px 2px rgba(0, 0, 0, .0);
}

.hackathon-button {
    background: linear-gradient(45deg, #C96D96, #7D3756);
}

.project-button-depressed,
.project-button-opacity {
    transition-duration: 1s!important;
}

.project-button-depressed {
    display:flex;
    align-items: center;
    justify-content: center;
}

.project-button-filter {
    z-index: -1;
}

.project-button-opacity {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .5),
                inset 0px 4px 2px rgba(0, 0, 0, .65),
                inset 4px 0px 2px rgba(0, 0, 0, .65),
                inset 0px -4px 2px rgba(0, 0, 0, .65),
                inset -4px 0px 2px rgba(0, 0, 0, .65);
    height: 100%;
}

.project-card-img,
.project-card-text {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    opacity: 1;
    -webkit-opacity: 1;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .35),
                inset 2px 2px 4px rgba(51, 51, 51, 0.493),
                inset -2px -2px 4px rgba(51, 51, 51, 0.493),
                -2px -2px 4px rgba(51, 51, 51, 0.699);
    overflow: hidden;
}

.project-card-img {
    background-color: #dad6d6c9;
    height: 40rem;
}

.project-card-text {
    min-height: 20rem;
    color: #333;
    background-color: #dad6d6c9;
    padding-bottom: 2rem;
}
/* project summary */
.project-summary {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    text-shadow: 1px 1px 0px #858585;
}

.project-summary,
.project-reasons {
    font-size: 1.5rem;
}

/* Project design */
.project-reasons {
    padding-left: 4rem;
}

.project-award {
    text-decoration: underline;
    text-decoration-color: #59B9C9;
}

.hackathon-award {
    text-decoration: underline;
    text-decoration-color: #C96D96;
}

.project-reasons li {
    margin-bottom: .75rem;
    padding-right: 1.75rem;

}

.tech-header,
.link-header {
    font-size: 1.5rem;
    padding-left: 4rem;
}

.tech,
.tech-small {
    list-style-type: disc;
}

.tech li {
    width: fit-content;
    margin-bottom: .75rem;
}

.tech-small {
    display: none;
}

.project-tech ul > li::marker {
    color: #59B9C9;
}
.hackathon-tech ul > li::marker {
    color: #7D3756;
}

/* link buttons */
.project-links span {
    padding: .75rem 2.75rem;
    position: relative;
    z-index: 0;
}
/* project transition containers and animations */
.invis-project {
    position: absolute;
    opacity: 0;
    z-index: -5;
}

.text-filter-container,
.image-filter-container {
    transition-duration: .5s;
    opacity: 1;
    -webkit-opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);}

.opacityFalse {
    opacity: 0;
    -webkit-opacity: 0;
    transform: translate(0, 100%);
    -webkit-transform: translate(0, 100%);
}

.translate-away {
    transform: translate(0, 100%);
    -webkit-transform: translate(0, 100%);
}

.image-filter-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("") top center / cover no-repeat #dad6d6c9;
}

/* images */
.fat-raccoon-img {
    background-image: url("../images/fat-raccoon.jpg");
}

.eldridge-music-img {
    background-image: url("../images/eldridge-music.jpg");
}

.spinning-wheel-img {
    background-image: url("../images/spinning-wheel.jpg");
}
.romancing-the-cards-img {
    background-image: url("../images/romancing-the-cards.jpg");
}
.smitten-img {
    background-image: url("../images/smitten.jpg");
}
/* ---------------------------------------------------------------------- */
/* footer */
.footer,
.footer i {
    color: #faf9f6;
}

.footer-background {
    background: url("../images/plains-mountains.jpg") center / 100% 100% no-repeat;
    transition-duration: .5s;
}

.font-aws i {
    font-size: 2.5rem;
}

@media (max-width: 767.98px) {
    /* Hero image header */
    .hero-header h1{
        font-size: 3rem;
    }
    .hero-header p {
        top: 37.5%;
        transform: translateY(-37.5%);
        font-size: 1.5rem;
    }
    .hero-header-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .hero-header-buttons a {
        width: 40%;
        position: relative;
        top: 1.75rem;
        margin: .5rem .5rem;
    }

    .custom-button {
        display:flex;
        align-items: center;
        justify-content: center;
    }
    /* Skills */
    .skills {
        display: none;
    }
    .skills-small {
        display: block;
    }
    /* Project */
    .project-button-display {
        display: block;
    }
    .project-button-depressed {
        text-align: center;
        margin: .75rem 0;
        width: 100%;
    }
    .tech {
        display: none
    }
    .tech-small {
        display: block;
    }
    /* Body image */
    .footer-background {
        background-size: auto 100%
    }
}